@layout('layouts.main')
@section('header')
  <h1>{{pageTitle || 'Untitle'}}</h1>
@endsection

@section('content')
  @component('components.list', {entities, border:true,borderColor:'#ff5952'})
    @slot('notes')
      <small>Eat some fruits & vegetables everyday is good for your health.</small>
    @endslot
  @endcomponent

@endsection
